
@page "/fetchlakedata"

@using BlzTest.Service
@inject BlzTest.Service.LakeService LakeService
@inject BlzTest.Service.FishService FishService

<h1>Fish Inventory</h1>


@if (lakes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Lake Name</th>
                <th>Primary Fish</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lake in lakes)
            {

                <tr>
                    <td>@lake.LakeName</td>
                    <td>@lake..Trim().TrimEnd(',') </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private BlzTest.Data.ViewModels.LakeDto[] lakes;
    private BlzTest.Data.ViewModels.FishDto[] fishes;

    protected override async Task OnInitializedAsync()
    {
        lakes = await LakeService.GetLakesAsync();

        foreach(var lake in lakes)
        {
            fishes = await FishService.GetFishForLakeAsync(lake.Id);
            
        }


    }
}
