
@page "/fetchlakedata"

@using BlzTest.Service
@inject BlzTest.Service.LakeService CountyService

<h1>Hubbard County Lake Fish</h1>


@if (lakes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Lake Name</th>
                <th>Primary Fish</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lake in lakes)
            {

                <tr>
                    <td>@lake.LakeName.Split(':')[0].ToString()</td>
                    <td>@lake.FishList.Trim().TrimEnd(',') </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private BlzTest.Data.Models.LakeIndexLine[] lakes;

    protected override async Task OnInitializedAsync()
    {
        lakes = await CountyService.GetLakesAsync();
    }
}
